@font-face {
    font-family: comic-sans;
    src: url(comic-sans.woff);
}


.cendiv{
    font-family: comic-sans;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.inline {
    font-family: comic-sans;
    background-color: yellow;
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
  }
  
  .inline {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }


.sidebyside{
    float: left;
}

body{
    font-family: fantasy;
    background-color:rgb(135, 96, 32);
}

.italic{
    font-style: italic;
    color: rgb(159, 18, 18);
}

.moan{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    background: #034d85;
    padding: 1.1rem 3.4rem;
    border-radius: .2rem;
    transition: opacity .2s;
}